
.counter-main {
	padding: 1rem;
	h1 {
		text-align: center;
	}
	button {
		width: 50px;
		border-radius: 2px;
		padding: 0.5rem;
		display: inline-block;
		font-size: 2rem;
	}

	.count-parent {
		margin: 0 auto;
		width: 80%;
		max-width: 450px;
		vertical-align: top;
		padding: 0;
		text-align: center;

		.count {
			display: inline-block;
			font-size: 3rem;
			margin: 0 1rem;
			width: 100px;
			text-align: center;
		}
	}	
}