.counter-main {
  padding: 1rem; }

.counter-main h1 {
  text-align: center; }

.counter-main button {
  width: 50px;
  border-radius: 2px;
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem; }

.counter-main .count-parent {
  margin: 0 auto;
  width: 80%;
  max-width: 450px;
  vertical-align: top;
  padding: 0;
  text-align: center; }

.counter-main .count-parent .count {
  display: inline-block;
  font-size: 3rem;
  margin: 0 1rem;
  width: 100px;
  text-align: center; }
