nav .brand-logo {
  left: 10px; }

@media screen and (max-width: 992px) {
  nav .brand-logo {
    left: 80px;
    width: 100%;
    font-size: 1.5rem;
    transform: initial;
    text-align: left; } }

.counter-main {
  padding: 1rem; }

.counter-main h1 {
  text-align: center; }

.counter-main button {
  width: 50px;
  border-radius: 2px;
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem; }

.counter-main .count-parent {
  margin: 0 auto;
  width: 80%;
  max-width: 450px;
  vertical-align: top;
  padding: 0;
  text-align: center; }

.counter-main .count-parent .count {
  display: inline-block;
  font-size: 3rem;
  margin: 0 1rem;
  width: 100px;
  text-align: center; }

.tweet-field {
  margin: 0 auto;
  max-width: 500px; }

.tweet-parent {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 2px; }

.tweet-parent .profile-img {
  display: inline-block;
  width: 29%;
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px; }

.tweet-parent .tweet-text {
  display: inline-block;
  width: 70%;
  vertical-align: top; }

.js-helper-main {
  min-height: 90vh; }

.js-helper-main h1 {
  margin-top: 0;
  text-align: center;
  padding-top: 0.5rem; }

.js-helper-main input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 100%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  background-color: #fff; }

.js-helper-main .search-header {
  background-color: #bbdefb;
  padding: 0.5rem;
  font-size: 1.1rem; }

.js-helper-main .special {
  background-color: #ffcc00; }

.js-helper-main .results {
  padding-top: 1.5rem; }

.js-helper-main .results .search-result {
  border-bottom: 1px solid #eee;
  padding: 0.15rem;
  cursor: pointer;
  font-size: 1.4rem; }

.js-helper-main .results .search-result:hover {
  background-color: #f7f7f7; }

.js-helper-main .concept-page {
  position: relative;
  border-radius: 2px;
  padding: 1rem; }

.js-helper-main .concept-page .close {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  color: #999;
  cursor: pointer;
  font-family: monospace;
  transition: 0.25s all ease-in; }

.js-helper-main .concept-page .close:hover {
  color: #444; }

.js-helper-main .concept-page .code-examples .code-block {
  padding: 1rem 3rem;
  border: 2px solid #90caf9;
  border-radius: 4px;
  margin-bottom: 0.5rem; }

.js-helper-main .concept-page .code-examples .code-tag {
  font-size: 0.9rem;
  background-color: #F44336;
  color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  margin: 0.5rem 0.3rem; }

/*************************************************************************************************/
.main-editor textarea {
  font-family: monospace; }

.main-editor .btn.cancel {
  margin-left: 1rem; }

.main-collection {
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0 !important;
  border: 1px solid #ddd;
  border-radius: 2px; }

.main-collection .collection {
  margin-top: 0px; }

.main-collection .collection .collection-item {
  cursor: pointer; }

.main-collection .collection .collection-item:hover {
  background-color: #1e88e5;
  color: #fff; }

.main-collection .collection .collection-item .list-lang {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 0.7rem;
  margin-left: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0.05rem 0.3rem; }

.main-collection .collection .collection-item .cm-javascript {
  background-color: #EDDA68;
  color: #fff; }

.main-collection .collection .collection-item .cm-html {
  background-color: #D35736;
  color: #fff;
  font-weight: bold; }

.main-collection .collection .collection-item .cm-css {
  background-color: #2F50DC;
  color: #fff; }

.main-collection .collection .collection-item .cm-python {
  background-color: #587C98;
  color: #fff;
  text-transform: lowercase;
  font-family: Arial; }

.main-collection .collection .collection-item .cm-php {
  background-color: #7C80AD;
  color: #fff; }

.finished-code .cm-tag {
  font-size: 0.9rem;
  background-color: #F44336;
  color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  margin: 0.5rem 0.3rem; }

.main-code-block {
  font-family: monospace; }

/*************************************************************************************************/
.todo-item {
  position: relative; }

.todo-item i.material-icons {
  position: absolute;
  top: 0.4rem;
  cursor: pointer; }

.todo-item .delete-item {
  right: 0.5rem;
  transition: color 0.3s ease-in; }

.todo-item .delete-item:hover {
  color: #f66; }

.todo-item .complete-item {
  right: 2.5rem;
  color: #bdb; }

.todo-item .complete-item:hover {
  font-weight: bold; }

.todo-item .edit-item {
  right: 4.7rem;
  color: #aaa; }

.todo-item .edit-item:hover {
  font-weight: bold;
  color: #333; }

.todo-item .complete-item.complete {
  color: green; }

.todo-item.complete {
  text-decoration: line-through;
  font-style: italic; }

.group-parent h4 {
  text-align: center; }

.group-parent .games-list .game-row {
  vertical-align: top;
  height: 50px; }

.group-parent .games-list .game-row input.score-input {
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  width: 30px !important;
  text-align: center;
  font-size: 1.8rem; }

.group-parent .games-list .game-row .team-name {
  display: inline-block;
  width: 85px;
  text-align: center;
  vertical-align: bottom; }

.group-parent .games-list .game-row .team-flag {
  margin: 0 10px;
  vertical-align: bottom; }

.group-parent .games-list .game-row .match-num {
  display: inline-block;
  width: 80px;
  font-size: 0.9rem;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

@media screen and (min-width: 768px) {
  .group-parent {
    vertical-align: top;
    display: inline-block;
    width: 49%; } }
