
nav .brand-logo {
	left: 10px;
}

@media screen and (max-width: 992px) {
	nav .brand-logo {
		left: 80px;
		width: 100%;
		font-size: 1.5rem;;
		transform: initial;
		text-align: left;
	}	
}

// Counter
.counter-main {
	padding: 1rem;
	h1 {
		text-align: center;
	}
	button {
		width: 50px;
		border-radius: 2px;
		padding: 0.5rem;
		display: inline-block;
		font-size: 2rem;
	}

	.count-parent {
		margin: 0 auto;
		width: 80%;
		max-width: 450px;
		vertical-align: top;
		padding: 0;
		text-align: center;

		.count {
			display: inline-block;
			font-size: 3rem;
			margin: 0 1rem;
			width: 100px;
			text-align: center;
		}
	}	
}

// Tweets

.tweet-field {
	margin: 0 auto;
	max-width: 500px;
}

.tweet-parent {
	max-width: 500px;
	margin: 0 auto;
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 2px;
	.profile-img {
		display: inline-block;
		width: 29%;
		border-radius: 50%;
		max-height: 50px;
		max-width: 50px;
		margin-right: 10px;
	}

	.tweet-text {
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}

	.tweet-buttons {
		
	}
}

// JavaScript Cheat Sheet

.js-helper-main {
	// background-color: #FFC600;
	min-height: 90vh;
	
	h1 {
		margin-top: 0;
		text-align: center;
		padding-top: 0.5rem;
	}

	input.search {
		margin: 0;
	    text-align: center;
	    outline: 0;
	    border: 10px solid #F7F7F7;
	    width: 100%;
	    position: relative;
	    top: 10px;
	    z-index: 2;
	    border-radius: 5px;
	    font-size: 40px;
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
	    background-color: #fff;
	}
	
	// .results > .search-result > (term + definition + tags + code array)
	// .code-examples > .code-block 
	.results {
		padding-top: 1.5rem;
		.search-result {
			border-bottom: 2px solid #eee;
			padding: 0.5rem;
			


			
		}
	}
	.concept-page {
		.code-examples {
			.code-block {
				padding: 1rem 3rem;
				border: 2px solid #90caf9;
				border-radius: 4px;
				margin-bottom: 0.5rem;
			}
		}
	}
}